<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <section id="compareSection" class="hidden">
  <h2>Compare Two Regions</h2>
  <select id="state1"></select>
  <select id="state2"></select>
  <button class="btn" id="compareBtn">Compare</button>

  <canvas id="compareChart" height="160"></canvas>
  <div id="diffBox"></div>
</section>  
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <section id="compareSection">
  <h2>Compare Two Regions</h2>

  <div style="display:flex;gap:1rem;justify-content:center;flex-wrap:wrap">
    <select id="state1" class="btn"></select>
    <select id="state2" class="btn"></select>
    <button class="btn" id="compareBtn">Compare</button>
  </div>

  <div id="diffBox" style="margin-top:1rem;text-align:center;font-weight:600"></div>
  <canvas id="compareChart" height="160"></canvas>
</section> 
</body>
</html>


