<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="loginModal" class="modal hidden">
  <div class="modal-content">
    <h3>Login</h3>
    <input id="email" type="email" placeholder="Email" style="width:100%;margin-top:.7rem;padding:.4rem"/>
    <input id="password" type="password" placeholder="Password" style="width:100%;margin-top:.7rem;padding:.4rem"/>
    <button class="btn" style="width:100%;margin-top:1rem">Submit</button>
    <button id="closeModal" style="margin-top:.6rem;background:none;border:none;color:var(--secondary);cursor:pointer">Close</button>
  </div>
</div>

</body>
</html>